<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ConsignmentStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <section class="section">
      <div class="container">
        <div class="is-tall">
          <div class= "is-tall-container">
            <div class="level">
              <h4 class="title level-right" class="h4">
                WMC Store
              </h4>
              <img class="img level-left"><%=  image_tag("logo.png") %></img>
            </div>
              <p>
                <%= link_to "Home", root_path %> |
                <%= link_to pluralize(current_cart.items_count, 'item'), cart_path %>
              </p>
          </div>
          <hr />


          <%= yield %>
        </div>
      </div>
    </section>
  </body>
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>WMC Store</strong> by <a href="https://github.com/tyree83">Tyree Christensen
    </p>
  </div>
</footer>
</html>
